[Desktop Entry]
Version=1.0
Name=VVCB Results Monitor
# Run Chromium in incognito mode to avoid Crash modals
Exec=chromium-browser --incognito --start-fullscreen https://vvcb.cz/monitors
Terminal=false
Type=Application
Icon=chromium-browser
StartupNotify=true
